{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <!-- <button type="submit">press to re-generate connectors</button> -->
    <h1 style="text-align:center">SIX DEGREES OF WORD</h1>
    <br>
    <div style="text-align:center">
        <a href="{{ url_for('index') }}"><button>REFRESH WORDS</button></a>
    </div>
    <br>
    <div style="text-align:center">
        <p>Fill in the blanks to best connect each pair of words below, in the hopes of tying the first to the final word.<br> Best of luck!</p>
    </div>
    <br>
    <form action="#" method="post" class="centered">
      <strong>{{ prompt_words[0] }}&nbsp</strong> 
      <br><br>
      <div class="vl"></div>
      <br><br>
      <input name="name1" placeholder="your word here"/> 
<!--       <br><br> -->
<!--       <div class="vl"></div> -->
<!--       <br><br> -->
<!--       <strong>&nbsp{{ prompt_words[1] }}&nbsp</strong>  -->
      <br><br>
      <div class="vl"></div>
      <br><br>
      <input name="name2" placeholder="your word again"/> 
<!--       <br><br> -->
<!--       <div class="vl"></div> -->
<!--       <br><br> -->
<!--       <strong>&nbsp{{ prompt_words[2] }}&nbsp</strong>  -->
      <br><br>
      <div class="vl"></div>
      <br><br>
      <input name="name3" placeholder="your word..."/> 
<!--       <br><br> -->
<!--       <div class="vl"></div> -->
<!--       <br><br> -->
<!--       <strong>&nbsp{{ prompt_words[3] }}&nbsp</strong>  -->
      <br><br>
      <div class="vl"></div>
      <br><br>
      <input name="name4" placeholder="one last time"/> 
      <br><br>
      <div class="vl"></div>
      <br><br>
      <strong>&nbsp{{ prompt_words[1] }}</strong>
      <br><br><br>
      <div style="text-align:center">
          <input type="submit" value="SUBMIT">
      </div>
    </form>
    {% if error %}
    <p class=error><strong>Error:</strong> <em>{{ error }}</em> not in word list.
    {% endif %}
</div>
{% endblock %}